<!DOCTYPE html>
<html lang="en">

{% if view.headjs is defined %}
{% include 'headjs.html.twig' %}
{% else %}
{% include 'head.html.twig' %}
{% endif %}

  <body>
  {include file='navbar.tpl'}

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
		  {% for navMenuLink, key in view.navMenu %}
			<li><a href="{{ navMenuLink }}">{{ key }}</a></li>
		  {% endfor %}
          </ul>
        </div>
        
        <div id="pageBody">
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Oops! This ain't Kansas anymore!</h1>
            <p>Let's go back <a href="{{ view.urlbaseaddr }}index/index">HOME</a>!</p>
          </div>
        </div> <!-- END pageBody -->
        
      </div>
    </div>

{% if view.bodyjs is defined %}
{include file='bodyjs.tpl'}
{% endif %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>
