<?php

$baseConfig['appName'] = "LightMVC Framework Skeleton Application";

$baseConfig['routes'] = [
	0 => [
		'GET',
		'/index[/{action}/]',
		'index',
	],
	1 => [
		'GET',
		'/products[/{action}]',
		'product',
	],
	2 => [
		'GET',
		'/products/{action}/[{id:[0-9]+}]',
		'product',
	],
	3 => [
		'POST',
		'/products/{action}',
		'product',
	],
];

/*$baseConfig['doctrine']['DBAL']['dbm1'] = [
    'driver'   => 'pdo_mysql',
    'host'     => '127.0.0.1',
    'user'     => 'root',
    'password' => 'vagrant',
    'dbname'   => 'php1',
];*/

$baseConfig['doctrine']['ORM']['em1'] = [
    'driver'   => 'pdo_mysql',
    'host'     => 'localhost',
    'user'     => 'USERNAME',
    'password' => 'PASSWORD',
    'dbname'   => 'DATABASE',
];
