<?php

$baseConfig['session'] = [
    'session_name' => 'PHPSESSION',
    'session_path' => '/',
    'session_id_length' => 32,
    'session_id_type' => 1,
    'session_storage_prefix' => 'ascmvc_',
    'session_expire' => 60 * 30, // 30 minutes
];